body{
	background: grey;
}

.container{
	background: white;
	width: 70%;
	height: auto;
	margin-left: 180px;
}

.header{
	width: 95%;
	padding-top: 10px;
	padding-left: 20px;
}

.year{
	margin-top: -10px;
}

.line{
	border: 0.5px solid; black;
}

.name{
	font-size: 20px;
}

.project{
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 2px;
}

.project-title{
	margin-left: 20px;
}
.list{
	margin-left: 25px;
}

table, th, td {
  border:1px solid black;
  margin-left: 20px;
  padding: 2px;
} 

.skill{
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 2px;
}

.table{
	border-collapse: collapse;
}

.education{
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 2px;
}

.interest{
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: -14px;
}